/* Home BG */
body {
    background-image: url("../multimedia/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;   /* smooth scrolling on mobile */
        background-size: cover;          /* keeps full-bleed look */
        background-position: center;
        width: 100%;
        height: 100%;
    }
}

