@media (min-width: 600px) {
    #global_header-text {grid-area: 1 / span 6;}
    #global_header-table {grid-area: 1 / span 1;}
    .text1 {grid-area: 1 / span 4;}
  }

/* Global Text */
    #global_header-text {
        font-size: 1.2vw;
        font-family: 'Courier New', Courier, monospace;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
        filter:drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.322));
    }
    #global_header-table {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;
    }
    .text1 {
        color:rgb(250, 162, 61);
    }
