/* Home Margin */
    #home_header-margin {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vw;
    }

    /* Home Text */
    #home_header-text {
        text-align: center;
        font-size: 1.5vw;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
        filter:drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.322));
    }

    .text2, .text3 {
            color:rgb(250, 162, 61);
        }
        .text2 {
            filter: blur(2px);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .text2:hover {
            filter: blur(0px);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            color:rgb(255, 250, 176);
        }