/* Home BG */
body {
    background-image: url(multimedia/img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.8vw;
    letter-spacing: 5px;
    margin: 50px;

    border-radius: 10px;
    box-shadow: 0 1px 3px black;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 10px 50px 10px;
    filter: drop-shadow(0 0 0.75rem black);
    text-align: center;
}

/* Nav bar */
    #navigation_header-table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
    }

    #nav_bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a:hover {
        color:rgb(250, 162, 61);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        filter: drop-shadow(0 0 1rem rgb(250, 162, 61));
        font-size: large;
    }

/* Home Text */
    #home_header-text {
        font-size: 1.5vw;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
    }
    #home_header-table {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vw;
    }
        .text2, .text3 {
            color:rgb(250, 162, 61);
        }
        .text2 {
            filter: blur(2px);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .text2:hover {
            filter: blur(0px);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        h4, p {
        background-color: rgba(0, 0, 0, 0.192);
        box-shadow: 0 1px 3px black;
        width: fit-content;
        border-radius: 5px;
        line-height: normal;
        font-size: 20px;

        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        text-align: center;
    }

/* Footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1px;
    color: white;
}

#footer-text {
    font-size: 1vw;
}