/* Home BG */
body {
    background-image: url(multimedia/img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    letter-spacing: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 10px 150px 10px;
    filter: drop-shadow(0 0 0.75rem black);
}

/* Nav bar */
    #navigation_header-table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
    }

    #nav_bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a:hover {
        color:rgb(250, 162, 61);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        filter: drop-shadow(0 0 1rem rgb(250, 162, 61));
        font-size: large;
    }

/* Home Text */
    #home_header-text {
        font-size: 1vw;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
    }
    #home_header-table {
        text-align: center;
        margin-left: 300px;
        margin-right: auto;
        margin-top: 5vw;

        letter-spacing: 10px;
    }
        .text1 {
            color:rgb(250, 162, 61);
        }

/* Catalog Content */
    #catalog_main-content {
        text-align: left;
        margin-left: 350px;
        margin-right: auto;
        margin-top: 1vw;

        letter-spacing: 10px;
        color: rgb(254, 255, 235);
        padding:10px;

        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;

        width: 60%;
    }

    h2 {
        background-color: rgb(0, 0, 0);
        box-shadow: 0 1px 3px black;
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        
    }
